#message-pane {
    background: url(https://i2.wp.com/38.media.tumblr.com/03bd8d41da21953c26816bdb42f13b49/tumblr_n7387pDw541tbh1dho1_400.gif?resize=267%2C145);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
